---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oscar
  labels:
    app: oscar
spec:
  selector:
    matchLabels:
      app: oscar
  replicas: {{ .Values.replicas }}
  template:
    metadata:
      labels:
        app: oscar
    spec:
      serviceAccountName: oscar-sa
      containers:
      - name: oscar
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
        securityContext:
          readOnlyRootFilesystem: true
          runAsUser: 10001
        livenessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
        readinessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
        env:
        - name: OSCAR_SERVICE_PORT
          value: {{ .Values.service.port | quote }}
        - name: OSCAR_NAME
          value: oscar
        - name: OSCAR_NAMESPACE
          value: {{ .Release.Namespace | quote }}
        - name: OSCAR_SERVICES_NAMESPACE
          value: {{ .Values.servicesNamespace | quote }}
        - name: OSCAR_USERNAME
          value: {{ .Values.authUser | quote }}
        - name: OSCAR_PASSWORD
          value: {{ .Values.authPass | quote}}
        {{- if ne .Values.ingress.host "" }}
        - name: INGRESS_HOST
          value: {{ .Values.ingress.host}}
        {{- end }}
        - name: SERVERLESS_BACKEND
          value: {{ .Values.serverlessBackend | lower | quote }}
        - name: OPENFAAS_NAMESPACE
          value: {{ .Values.openfaas.namespace | quote }}
        - name: OPENFAAS_PORT
          value: {{ .Values.openfaas.port | quote }}
        - name: OPENFAAS_BASIC_AUTH_SECRET
          value: {{ .Values.openfaas.basicAuthSecret | quote }}
        - name: OPENFAAS_PROMETHEUS_PORT
          value: {{ .Values.openfaas.prometheusPort | quote }}
        - name: OPENFAAS_SCALER_ENABLE
          value: {{ .Values.openfaas.scaler.enable | quote }}
        - name: OPENFAAS_SCALER_INTERVAL
          value: {{ .Values.openfaas.scaler.interval | quote }}
        - name: OPENFAAS_SCALER_INACTIVITY_DURATION
          value: {{ .Values.openfaas.scaler.inactivityDuration | quote }}
        - name: MINIO_ENDPOINT
          value: {{ .Values.minIO.endpoint | quote }}
        - name: MINIO_ACCESS_KEY
          value: {{ .Values.minIO.accessKey | quote }}
        - name: MINIO_SECRET_KEY
          value: {{ .Values.minIO.secretKey | quote }}
        - name: MINIO_TLS_VERIFY
          value: {{ .Values.minIO.TLSVerify | quote }}
        - name: MINIO_REGION
          value: {{ .Values.minIO.region | quote }}
        - name: READ_TIMEOUT
          value: {{ .Values.readTimeout | quote }}
        - name: WRITE_TIMEOUT
          value: {{ .Values.writeTimeout | quote }}
        - name: WATCHDOG_MAX_INFLIGHT
          value: {{ .Values.openfaas.watchdog.maxInflight | quote }}
        - name: WATCHDOG_WRITE_DEBUG
          value: {{ .Values.openfaas.watchdog.writeDebug | quote }}
        - name: WATCHDOG_EXEC_TIMEOUT
          value: {{ .Values.openfaas.watchdog.execTimeout | quote }}
        - name: WATCHDOG_READ_TIMEOUT
          value: {{ .Values.openfaas.watchdog.readTimeout | quote }}
        - name: WATCHDOG_WRITE_TIMEOUT
          value: {{ .Values.openfaas.watchdog.writeTimeout | quote }}
        - name: WATCHDOG_HEALTHCHECK_INTERVAL
          value: {{ .Values.openfaas.watchdog.healthCheckInterval | quote }}
        - name: YUNIKORN_ENABLE
          value: {{ .Values.yuniKorn.enable | quote }}
        - name: YUNIKORN_NAMESPACE
          value: {{ .Values.yuniKorn.namespace | quote }}
        - name: YUNIKORN_CONFIGMAP
          value: {{ .Values.yuniKorn.configMap | quote }}
        - name: YUNIKORN_CONFIG_FILENAME
          value: {{ .Values.yuniKorn.configFileName | quote }}
        - name: RESOURCE_MANAGER_ENABLE
          value: {{ .Values.resourceManager.enable | quote }}
        - name: RESOURCE_MANAGER_INTERVAL
          value: {{ .Values.resourceManager.interval | quote }}
        - name: RESCHEDULER_ENABLE
          value: {{ .Values.reScheduler.enable | quote }}
        - name: RESCHEDULER_INTERVAL
          value: {{ .Values.reScheduler.interval | quote }}
        - name: RESCHEDULER_THRESHOLD
          value: {{ .Values.reScheduler.threshold | quote }}
        - name: OIDC_ENABLE
          value: {{ .Values.oidc.enable | quote }}
        {{- if semverCompare "<3.4.0" .Values.image.tag }}
        - name: OIDC_ISSUER
          value: {{ .Values.oidc.issuer | quote }}
        {{- else }}
        - name: OIDC_ISSUERS
          value: {{ .Values.oidc.issuer | quote }}
        {{- end }}
        - name: OIDC_SUBJECT
          value: {{ .Values.oidc.subject | quote }}
        - name: OIDC_GROUPS
          value: {{ .Values.oidc.groups | quote }}
        - name: SUPERVISOR_KIT_IMAGE
          value: {{ printf "%s:%s" .Values.volume.supervisorKit .Values.volume.supervisorVersion | quote }}
        - name: USERS_ADMIN
          value: {{ .Values.UsersAdmin | quote }}
        - name: TTL_JOB
          value: {{ .Values.TTLJob | quote }}
        - name: JOB_LISTING_LIMIT
          value: {{ .Values.JobListingLimit | quote }}
        - name: KUEUE_ENABLE
          value: {{ .Values.enable | quote }}
        - name: KUEUE_DEFAULT_CPU
          value: {{ .Values.default.cpu | quote }}
        - name: KUEUE_DEFAULT_MEMORY
          value: {{ .Values.default.memory | quote }}
        - name: KUEUE_DEFAULT_FLAVOR
          value: {{ .Values.default.flavor | quote }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        resources:
{{ toYaml .Values.resources | indent 10 }}
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}