{{ if  .Values.im.ingress.enabled }}
{{ if eq .Values.im.ingress.type "traefik" }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: im-rewrite
spec:
  replacePathRegex:
    regex: "^{{ .Values.im.ingress.path }}/(.*)"
    replacement: "/$1"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: im-buffering
spec:
  buffering:
    maxRequestBodyBytes: 20971520   # 20 MB
    memRequestBodyBytes: 65536      # 64 KB
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: im-transport
spec:
  forwardingTimeouts:
    dialTimeout: 1800s
    responseHeaderTimeout: 1800s
    idleConnTimeout: 1800s
{{- end }}
---
{{- if lt (int .Capabilities.KubeVersion.Minor) 19 }}
apiVersion: networking.k8s.io/v1beta1
{{- else }}
apiVersion: networking.k8s.io/v1
{{- end }}
kind: Ingress
metadata:
  name: im
  annotations:
{{- if eq .Values.im.ingress.type "traefik" }}
      traefik.ingress.kubernetes.io/router.middlewares: {{ .Release.Namespace }}-im-rewrite@kubernetescrd,{{ .Release.Namespace }}-im-buffering@kubernetescrd
      traefik.ingress.kubernetes.io/service.serverstransport: im-transport
{{- end }}
{{- if eq .Values.im.ingress.type "nginx" }}
      nginx.ingress.kubernetes.io/client-body-buffer-size: "64k"
      nginx.ingress.kubernetes.io/proxy-body-size: "20m"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "1800"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"
      nginx.ingress.kubernetes.io/proxy-read-timeout: '1800'
      nginx.ingress.kubernetes.io/x-forwarded-prefix: {{ .Values.im.ingress.path }}
      nginx.ingress.kubernetes.io/rewrite-target: /$1
      nginx.ingress.kubernetes.io/use-regex: "true"
{{- end }}
spec:
  rules:
{{- if .Values.im.ingress.host }}
    - host: {{ .Values.im.ingress.host }}
      http:
{{- else }}
    - http:
{{- end }}
        paths:
        - backend:
{{- if lt (int .Capabilities.KubeVersion.Minor) 19 }}
{{- if gt .Values.im.replicas 1.0 }}
            serviceName: im-load-balancer-svc
            servicePort: 80
{{- else }}
            serviceName: im-backend
            servicePort: 8800
{{- end }}
{{- else }}
{{- if gt .Values.im.replicas 1.0 }}
            service:
              name: im-load-balancer-svc
              port:
                number: 80
{{- if eq .Values.im.ingress.type "nginx" }}
          pathType: ImplementationSpecific
{{- end }}
{{- if eq .Values.im.ingress.type "traefik" }}
          pathType: Prefix
{{- end }}
{{- else }}
            service:
              name: im-backend
              port:
                number: 8800
{{- if eq .Values.im.ingress.type "nginx" }}
          pathType: ImplementationSpecific
{{- end }}
{{- if eq .Values.im.ingress.type "traefik" }}
          pathType: Prefix
{{- end }}
{{- end }}

{{- end }}
{{- if eq .Values.im.ingress.type "nginx" }}
          path: {{ .Values.im.ingress.path }}/?(.*)
{{- end }}
{{- if eq .Values.im.ingress.type "traefik" }}
          path: {{ .Values.im.ingress.path }}/
{{- end }}
{{- if .Values.im.ingress.tls }}
  tls:
{{ tpl (toYaml .Values.im.ingress.tls | indent 4) . }}
{{- end -}}

{{- end }}
